@charset "UTF-8";

/** Importação de fontes off-line*/
@font-face {
    font-family: "Fredoka";
    src: url("../Fredoka/Fredoka-VariableFont_wdth\,wght.ttf");
}

body{
    font-family: "Fredoka";
}

/** Rodapé **/
footer{
    height: 45px;
    padding: 5px;
    background-color: #e15a1f;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: #fff;
    font-size: 1.2em;

}

.body_sobre{
    background-color: beige;
}